$header-bg: rgb(12, 7, 87);
$main-bg: rgb(255, 255, 255);

$post-bg: rgb(212, 212, 212);
$post-title: rgb(36, 36, 36);
$post-text: rgb(44, 44, 44);
$post-button-bg: rgb(40, 129, 212);
$post-button-color: rgb(255, 255, 255);
$post-padding: 20px;
$post-font-size: 20px;
